[submodule "mavlink_indoor_sdk_sitl/src/mavlink_indoor_sdk"]
	path = mavlink_indoor_sdk_sitl/src/mavlink_indoor_sdk
	url = https://github.com/vas59/mavlink_indoor_sdk.git
[submodule "mavlink_indoor_sdk_sitl/src/markers_lib"]
	path = mavlink_indoor_sdk_sitl/src/markers_lib
	url = https://github.com/vas59/markers_lib.git
